@reference "../../../app/assets/styles/main.style.css";

@layer components {
  .mui-button {
    @apply relative;
    @apply inline-flex flex-col gap-2;
    @apply select-none;
    @apply overflow-hidden;
    @apply outline-none;
    @apply transition ease-in-out duration-150;

    font-family: inherit;
    font-feature-settings: inherit;
    padding: var(--mui-button-padding-y, .25rem) var(--mui-label-padding-x, .25rem);
    color: var(--mui-button-text-color, oklch(100% 0 0)); /* white */
    font-size: var(--mui-button-font-size, 1rem);
    cursor: var(--mui-button-cursor, pointer);
    background-color: var(--mui-button-bg-color, oklch(14.1% 0.005 285.823)); /* zinc 950 */
    opacity: var(--mui-button-opacity, 1);
    border-radius: var(--mui-button-border-radius, .5rem);
    border: .1rem solid var(--mui-button-border-color, oklch(14.1% 0.005 285.823)); /* zinc 950 */
  }

  .mui-button .mui-label .mui-icon {
    fill: var(--mui-button-text-color, oklch(100% 0 0)); /* white */
  }

  .mui-button:hover {
    background-color: var(--mui-button-bg-hover-color, oklch(24.1% 0.005 285.823)); /* zinc 950 + % */
    border: .1rem solid var(--mui-button-border-hover-color, oklch(24.1% 0.005 285.823)); /* zinc 950 + % */
  }

  .mui-button:active {
    background-color: var(--mui-button-bg-active-color, oklch(30.1% 0.005 285.823)); /* zinc 950 + % */
    border: .1rem solid var(--mui-button-border-active-color, oklch(30.1% 0.005 285.823)); /* zinc 950 + % */
  }

  .mui-button-severity-secondary {
    --mui-button-text-color: oklch(27.9% 0.041 260.031); /* slate 800 */
    --mui-button-bg-color: oklch(96.8% 0.007 247.896); /* slate 100 */
    --mui-button-border-color: oklch(96.8% 0.007 247.896); /* slate 100 */

    --mui-button-bg-hover-color: oklch(90.8% 0.007 247.896); /* slate 100 + % */
    --mui-button-border-hover-color: oklch(90.8% 0.007 247.896); /* slate 100 + % */
    --mui-button-bg-active-color: oklch(86.8% 0.007 247.896); /* slate 100 + % */
    --mui-button-border-active-color: oklch(86.8% 0.007 247.896); /* slate 100 + % */
  }

  .mui-button-severity-success {
    --mui-button-text-color: oklch(100% 0 0); /* white */
    --mui-button-bg-color: oklch(72.3% 0.219 149.579); /* green 500 */
    --mui-button-border-color: oklch(72.3% 0.219 149.579); /* green 500 */

    --mui-button-bg-hover-color: oklch(62.3% 0.219 149.579); /* green 500 + % */
    --mui-button-border-hover-color: oklch(62.3% 0.219 149.579); /* green 500 + % */
    --mui-button-bg-active-color: oklch(56.3% 0.219 149.579); /* green 500 + % */
    --mui-button-border-active-color: oklch(56.3% 0.219 149.579); /* green 500 + % */
  }

  .mui-button-severity-warning {
    --mui-button-text-color: oklch(100% 0 0); /* white */
    --mui-button-bg-color: oklch(70.5% 0.213 47.604); /* orange 500 */
    --mui-button-border-color: oklch(70.5% 0.213 47.604); /* orange 500 */

    --mui-button-bg-hover-color: oklch(60.5% 0.213 47.604); /* orange 500 + % */
    --mui-button-border-hover-color: oklch(60.5% 0.213 47.604); /* orange 500 + % */
    --mui-button-bg-active-color: oklch(54.5% 0.213 47.604); /* orange 500 + % */
    --mui-button-border-active-color: oklch(54.5% 0.213 47.604); /* orange 500 + % */
  }
}
