@reference "../../../app/assets/styles/main.style.css";

@layer components {
  .mui-button {
    @apply relative;
    @apply inline-flex flex-col gap-2;
    @apply select-none;
    @apply overflow-hidden;
    @apply cursor-pointer;
    @apply outline-none;
    @apply transition ease-in-out duration-150;

    padding: var(--mui-button-padding-y, .25rem) var(--mui-label-padding-x, .25rem);
  }
}
