@reference "../../../app/assets/styles/main.style.css";

@layer components {
  .mui-label {
    @apply inline-flex flex-col items-center justify-center gap-2;

    padding: var(--mui-label-padding-y, .25rem) var(--mui-label-padding-x, .75rem);
  }

  .mui-label .row {
    @apply inline-flex flex-nowrap items-center justify-center gap-2;
    @apply font-medium;
    @apply leading-5;
  }

  .mui-label .mui-icon {
    @apply fill-black;

    min-width: var(--mui-icon-width, 1.25rem);
    min-height: var(--mui-icon-height, 1.25rem);
    max-width: var(--mui-icon-width, 1.25rem);
    max-height: var(--mui-icon-height, 1.25rem);
  }

  .icon-only {
    --mui-label-padding-x: .25rem;
  }
}
